.proyect-section {
  width: 100%;
}

.proyect-widget {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.proyect-list{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 48%;
  overflow-y: auto;
  height: 400px;

}

.proyect-media {
  width: 48%;
  border-style: solid;
}

.proyect-window {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0%;
  color: #000;
  border-style: none;
  width: 95%;
}

.proyect-window:hover {
  background-color: rgb(255, 255, 209);
  cursor: pointer;
}

.proyect-window > img {
  max-height: 50px;
}

.proyect-window > p{
  margin: 0%;
  padding-left: 2em;
}


@media (width <= 800px) {
  .proyect-section {
    width: 80%;
    justify-self: center;
  }

  .proyect-widget{
    display: grid;
  }
  .proyect-list {
    width: 100%;
    height: 200px;
  }

  .proyect-media{
    width: 100%;
    height: 200px;
  }
}