.main{
  display: grid;
  row-gap: 3em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main-navbar {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  border-color: yellow;
  width: 98%;
  justify-self: center;
  border-style: solid;
  border-width: 0.02em;
  border-radius: 1em;
  background-color: black;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

.main-navbar > a {
  text-decoration: none;
  color: white;
  padding: 0em 1em;
}

.main-navbar > a:hover {
  text-shadow: #fff 1px 0 0.5em;
}

.main-navbar-img {
  align-content: end;
  width: 40px;
  padding-left: 1em;
  
}

/* Overlay (dark background) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 150;
}


.side-menu {
  position: fixed;
  top: 0;
  right: -100%; 
  width: 250px;
  height: 100%;
  background-color: black;
  border-left: 1px solid yellow;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  gap: 1em;
  transition: right 0.3s ease;
  z-index: 200;
}

.side-menu.open {
  right: 0;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.side-menu img {
  margin-top: 1%;
  aspect-ratio: 1/1;
}

.side-menu a:hover {
  text-shadow: #fff 1px 0 0.5em;
}

.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.phone {
  display:none;
}

.footer {
  width: 100%;
  margin: 0%;
  background-color: #1b1b1b;
  border-top: 0.3em solid yellow;
  display: grid;
  row-gap: 0.5em;
  justify-items: center;
  color: white;
  margin-top: 6em;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.icons-container a {
  display: flex;
}

.icons-container img {
  width: 80px;  
  height: 80px;  
  object-fit: contain;
  filter: invert(1);
}

.socials-text {
  font-size: large;
}



@media (width <= 800px) {
  
  .main {
    width: 90%;
    justify-self: center;
  }
  .main-navbar {
    width: 80%;
    justify-content: center;
  }
  
  .main-navbar-img{
    padding-left: 0em;
  }
  .no-phone {
    display: none;
  }
  
  .phone {
    display:flex;
    background-color: transparent;
    justify-self: center;
    border-color: transparent;
  }
  
  .phone:hover{
    cursor: pointer;
  }
  .icons-container img {
    width: 50px;  
    height: 50px;  
  }

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #383838;
}

::-webkit-scrollbar-thumb {
  background: yellow;
}